<form *ngIf="!isLoading" [formGroup]="settingsForm" (ngSubmit)="onFormSubmit()">
    <div class="grid">
        <div class="col-2">
            <img src="../../../../../assets/images/courses/torrey-pines-south.png" alt="Torrey Pines" style="max-width:100%;width: 100%;height: auto;">
        </div>
        <div class="col-10">
            <div>
                <h4 style="float: left;">Torrey Pines Login Info</h4>
                <p-inputSwitch [style]="{'float': 'right', 'margin-top':'2.5px'}" formControlName="TorreyPinesLoginActive"></p-inputSwitch>
                <em class="fa fa-question-circle fa-2x pr-2" style="float: right;cursor: pointer;" (click)="op.toggle($event)"></em>
            </div>
            <div class="form-group mt-3 mb-3">
                <input type="text" class="w-full md:w-50rem p-inputtext" style="padding: 1rem;" placeholder="Email" formControlName="TorreyPinesLoginEmail">
            </div>
        
            <div class="form-group mb-3">
                <input type="password" class="w-full md:w-50rem p-inputtext" style="padding: 1rem;" placeholder="Password" formControlName="TorreyPinesLoginPassword">
            </div>
        </div>
    </div>
    <button pButton type="submit" label="Save Settings" class="p-button-primary"></button>
</form>

<p-overlayPanel #op>
    <div class="feature-description" style="max-width: 450px; width: 90vw;">
        <h4>Feature: Automatic Tee Time Holding (Beta)</h4>
        <ul>
            <li>When a tee time matching your preferences is found, the system will automatically use your login to <strong>hold</strong> the tee time for <strong>5 minutes</strong>, giving you a brief window to secure it.</li>
            <li>During this 5-minute window, the tee time <strong>will not be visible to you or others</strong>.</li>
            <li>The tee time will reappear <strong>exactly 5 minutes</strong> after it's held.</li>
        </ul>
        <p>By enabling this feature, you enhance your chances of getting your desired tee time, especially during peak hours. Please make sure to act promptly after receiving a notification to avoid missing out!</p>
    </div>
</p-overlayPanel>