<p-card title="Profile">
    <div class="p-grid">
    <h2><span class="pi pi-user" style="font-size: 2rem;float: right;margin-right: .5em;"></span> Profile</h2><hr>
    <form *ngIf="userForm" [formGroup]="userForm" (ngSubmit)="onSubmit()" class="p-col-12 p-md-6">
      <div class="p-field p-col-12">
        <label for="Name" class="block text-900 text-xl font-medium mb-2">Name</label>
        <input id="Name" type="text" formControlName="Name" placeholder="Name" pInputText class="w-full md:w-30rem mb-5" style="padding:1rem"
        [ngClass]="{'ng-invalid ng-dirty': name?.invalid && (name?.dirty || name?.touched)}"/>
      </div>

      <div class="p-field p-col-12">
        <label for="Email" class="block text-900 text-xl font-medium mb-2">Email</label>
        <input id="Email" type="email" formControlName="Email" placeholder="Email address" pInputText class="w-full md:w-30rem mb-5" style="padding:1rem"
        [ngClass]="{'ng-invalid ng-dirty': email?.invalid && (email?.dirty || email?.touched)}"/>
      </div>

      <div class="p-field p-col-12">
        <label for="Phone" class="block text-900 text-xl font-medium mb-2">Phone</label>
        <input id="Phone" type="text" formControlName="Phone" placeholder="Phone number" pInputText class="w-full md:w-30rem mb-5" style="padding:1rem"/>
      </div>

      <div class="p-field-checkbox p-col-12">
        <p-checkbox name="EmailNotification" [binary]="true" formControlName="EmailNotification" label="Email Notification" class="w-full md:w-30rem mb-5"></p-checkbox>
      </div>

      <div class="p-field-checkbox p-col-12">
        <p-checkbox name="PhoneNotification" [binary]="true" formControlName="PhoneNotification" label="Phone Notification" class="w-full md:w-30rem mb-5"></p-checkbox>
      </div>

      <div class="p-field-checkbox p-col-12" *ngIf="isAdmin">
        <p-checkbox name="Active" [binary]="true" formControlName="Active" label="Active" class="w-full md:w-30rem mb-5"></p-checkbox>
      </div>
      
      <div class="p-field-checkbox p-col-12" *ngIf="isAdmin">
        <p-checkbox name="Admin" [binary]="true" formControlName="Admin" label="Admin" class="w-full md:w-30rem mb-5"[readonly]="currentUser.UserId == 1"></p-checkbox>
      </div>
      
      <!-- <div class="p-field p-col-12 mb-5">
        <a (click)="passwordDialog= true" class="font-medium no-underline ml-2 text-right cursor-pointer" style="color: var(--primary-color)">Change password?</a>
      </div> -->

      <div class="p-field p-col-12">
        <button pButton type="button" icon="fa fa-key" (click)="passwordDialog= true" label="Change Password" class="p-button-secondary w-full md:w-30rem mb-3" style="padding:1rem"></button>
      </div>
      
      <div class="p-field p-col-12">
        <button pButton type="submit" icon="fa fa-save" label="Save Changes" [disabled]="!userForm.valid" class="w-full md:w-30rem mb-3" style="padding:1rem"></button>
      </div>
      
      <div class="p-field p-col-12" *ngIf="isAdmin && currentUser.UserId != 1">
        <button pButton type="button" icon="fa fa-trash" label="Delete User" class="p-button-danger w-full md:w-30rem mb-3" style="padding:1rem" (click)="deleteUser(currentUser.UserId)"></button>
      </div>
    </form>
  </div>
</p-card>


<p-dialog [(visible)]="passwordDialog" [style]="{'min-width': '320px'}" [closable]="true" header="Change Password" [modal]="true" class="p-fluid">
  <app-change-password-form (formSaved)="onChangePasswordFormSaved($event)"></app-change-password-form>
</p-dialog>