<h2>
    <span class="fa fa-map-location-dot" style="float: right;font-size: 2rem;margin-right: .5em;"></span>Courses
</h2><hr>

<p-table [value]="courses" styleClass="p-datatable-small" [rows]="20" responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="CourseName">Course <p-sortIcon field="CourseName"></p-sortIcon></th>
            <th>SMS Abbr</th>
            <!-- <th>Booking Class</th>
            <th>Schedule ID</th> -->
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-course>
        <tr>
            <td>{{course.CourseName}}</td>
            <td>{{course.CourseAbbr}}</td>
        </tr>
    </ng-template>
</p-table>