    <div class="grid">
        <div class="col-12">
            <div class="card">
                
                <h3>Welcome to Tee Time Check!</h3>                
                <p><i class="fa fa-bell"></i><span [routerLink]="['/setup']" class="font-bold pl-2">Set Up Alerts:</span> Tell us your preferred course, day of the week, time, and number of players. We'll keep an eye out for tee times that match, especially those cancelled by others.</p>
                <p><i class="fa fa-robot"></i><span class="font-bold pl-2">Never Miss a Slot:</span> Our system works tirelessly, scouring the web for tee times that align with your preferences. As soon as one pops up, we alert you!</p>
                <p><i class="fa fa-mobile-screen-button"></i><span class="font-bold pl-2">Stay Informed Your Way:</span> Choose how you want to be notified — whether by email or text. Plus, review past notifications at any time.</p>
                
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-4">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Your active tee time selections</span>
                        <div class="text-900 font-medium text-xl">Monitoring <span class="text-blue-500">{{activeTimechecks}}</span> Tee Time<span *ngIf="activeTimechecks != 1">s</span></div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="fa fa-search fa-beat text-blue-500 text-xl" style="--fa-animation-duration: 1s;--fa-animation-iteration-count: 5;"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">{{activeTimechecks}} courses </span>
                <span class="text-500">being searched</span>
            </div>
        </div>
        
        <div class="col-12 lg:col-6 xl:col-4">
            <div class="px-4 py-5 shadow-2 flex flex-column md:flex-row md:align-items-center justify-content-between mb-3" [ngStyle]="{borderRadius: '1rem', background: 'linear-gradient(0deg, rgba(0, 123, 255, 0.5), rgba(0, 123, 255, 0.5)), linear-gradient(92.54deg, #1C80CF 47.88%, #FFFFFF 100.01%)'}">
                <div>
                    <div class="text-blue-100 font-medium text-xl mt-2 mb-3">EDIT TEE TIME SELECTIONS</div>
                    <div class="text-white font-medium text-2xl">Configure Tee Times</div>
                </div>
                <div class="mt-4 mr-auto md:mt-0 md:mr-0">
                    <a [routerLink]="['/setup']" class="p-button font-bold px-3 py-3 p-button-success p-button-rounded p-button-raised">
                        Setup Now
                    </a>
                </div>
             </div>    
        </div>

        <div class="col-12 lg:col-6 xl:col-4" *ngIf="activeTimechecks > 0">
            <div class="px-4 py-5 shadow-2 flex flex-column md:flex-row md:align-items-center justify-content-between mb-3" [ngStyle]="{borderRadius: '1rem', background: 'linear-gradient(0deg, rgba(255, 0, 0, 0.5), rgba(255, 0, 0, 0.5)), linear-gradient(92.54deg, #FFFFFF 47.88%, rgba(255, 0, 0, 0.5) 100.01%)'}">
                <div>
                    <div class="text-blue-100 font-medium text-xl mt-2 mb-3">PAUSE TEE TIME MONITORING</div>
                    <div class="text-white font-medium text-2xl">Not Looking?</div>
                </div>
                <div class="mt-4 mr-auto md:mt-0 md:mr-0">
                    <button type="button" (click)="setTimechecksInactive()" class="p-button font-bold px-3 py-3 p-button-warning p-button-rounded p-button-raised">
                        Stop Searching
                    </button>
                </div>
             </div>    
        </div>
        <div class="col-12 lg:col-6 xl:col-4">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Live Course Search</span>
                        <div class="text-900 font-medium text-xl">
                            <button type="button" [routerLink]="['/search']" class="p-button font-bold px-3 py-3 p-button-primary p-button-rounded p-button-raised">
                                Start a Search
                            </button>
                        </div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-orange-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="fa-brands fa-searchengin text-orange-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">Global search </span>
                <span class="text-500">for all courses.</span>
            </div>
        </div>
        <div class="col-12 lg:col-8">
            <div class="card mb-0">
                <h3 class="text-500">Coming Soon to Tee Time Check!</h3>

                <p class="text-500">We're always striving to improve and bring you more value. Here's a sneak peek at what's on the horizon:</p>
                <p><i class="fa fa-calendar-week"></i><span class="font-bold pl-2">Visual Calendar View:</span> Get a bird's-eye view of your tee times! We're exploring the addition of a calendar view, giving you a visual representation of when you're aiming to hit the greens. Plan better, play better.</p>
                
                <span class="text-500">Stay tuned for these exciting updates and more. At Tee Time Check, we're committed to ensuring you never miss out on the perfect tee time again!</span>
            </div>
        </div>
        
</div>

