<h3>
    <span class="fa fa-clock" style="float: right;font-size: 2rem;margin-right: .5em;"></span>
    
    User Timechecks
</h3><hr>
<div class="grid">
    <div class="col-12 md:col-6 lg:col-6 xl:col-4" *ngFor="let u of userTimechecks">
        <div class="card">
            <h4>{{u.name}} <span style="float: right;">{{u.timechecks?.length}}</span></h4>
            <hr>
            <p-table [value]="u.timechecks" rowGroupMode="rowspan" groupRowsBy="courseName" sortField="courseName" sortMode="single">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Course</th>
                        <th>Day</th>
                        <th>Time</th>
                        <th>#</th>
                        <th *ngIf="isAdmin">Remove</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-tc let-rowIndex="rowIndex" let-rowgroup="rowgroup" let-rowspan="rowspan">
                    <tr>
                        <!-- <td>{{rowIndex}}</td> -->
                        <td *ngIf="rowgroup" [attr.rowspan]="rowspan" class="text-center">
                            <img [alt]="tc.courseName" src="../../../../assets/images/courses/{{tc.imageUrl}}" width="30" style="vertical-align: middle" />
                            <br><span class="font-bold ml-2">{{tc.courseName}}</span>
                        </td>
                        <td>{{utilityService.dayName(tc.dayOfWeek, layoutService.isMobile())}}</td>
                        <td>
                           {{tc.startTime | localTime}} - {{tc.endTime | localTime}}
                        </td>
                        <td>{{tc.numPlayers}}</td>
                        <td *ngIf="isAdmin" style="text-align: center"><em class="fa fa-minus-circle" (click)="setInactive(u, tc)"></em></td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>