<div class="grid" *ngIf="USERID">
    <div class="col-12">
        <div class="card px-6 py-6">
            <div *ngIf="loading" style="text-align: center;">
                <p-progressSpinner></p-progressSpinner>
                <h4>Loading...</h4>
            </div>
            <div *ngIf="!loading">
                <p-toast></p-toast>
                <p-toolbar styleClass="mb-4">
                    <ng-template pTemplate="left">
                        <div class="my-1">
                            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="onNew()"></button>
                        </div>
                    </ng-template>
                </p-toolbar>
                <h5>Current Timechecks for <span *ngIf="timechecks[0]">{{timechecks[0].Name}}</span></h5>
                <p-table [value]="timechecks" [paginator]="true" [rows]="10" responsiveLayout="scroll">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Active</th>
                            <th pSortableColumn="CourseName">Course <p-sortIcon field="CourseName"></p-sortIcon></th>
                            <th pSortableColumn="DayName">Day <p-sortIcon field="DayName"></p-sortIcon></th>
                            <th pSortableColumn="StartTime">Time Frame <p-sortIcon field="StartTime"></p-sortIcon></th>
                            <th pSortableColumn="NumPlayers">Players <p-sortIcon field="NumPlayers"></p-sortIcon></th>
                            <th>View</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-tc>
                        <tr>
                            <td>
                                <p-checkbox [(ngModel)]="tc.Active" [binary]="true" (onChange)="toggleActive(tc)"></p-checkbox>
                                <!-- <p-inputSwitch [(ngModel)]="tc.Active"></p-inputSwitch> -->
                            </td>
                            <td style="min-width: 7rem;">{{tc.CourseName}}</td>
                            <td style="min-width: 7rem;">{{tc.DayName}}</td>
                            <td style="min-width: 7rem;">{{tc.StartTime | localTime }} - {{tc.EndTime | localTime }}</td>
                            <td style="min-width: 7rem;">{{tc.NumPlayers}}</td>
                            <td>
                                <div class="flex">
                                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="onEdit(tc)"></button>
                                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="onDelete(tc)"></button>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
<br><br>
    {{convertToTime(timeRange[0])}} - {{convertToTime(timeRange[1])}}
                <p-slider [(ngModel)]="timeRange" [step]="1" [min]="20" [max]="76" [range]="true"></p-slider>
            </div>
        </div>
    </div>
</div>


<p-dialog [(visible)]="timecheckDialog" [style]="{width: '600px', height: '600px'}" header="New Timecheck" [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">
        <div class="field">
            <label for="Course">Course</label>
            <p-dropdown [options]="courses" [(ngModel)]="timecheck.CourseId" optionLabel="CourseName" optionValue="CourseId"></p-dropdown>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && !timecheck.CourseId">Course is required.</small>
        </div>   
        <div class="field">
            <label for="Day">Day</label>
            <p-dropdown [options]="daysOfWeek" [(ngModel)]="timecheck.DayOfWeek" optionLabel="name" optionValue="id" scrollHeight="320"></p-dropdown>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && !timecheck.DayOfWeek">Day of the week is required.</small>
        </div>
        <div class="flex">
            <div class="field flex-1 pr-1">
                <label for="StartTime">Start Time</label>
                <p-calendar [(ngModel)]="timecheck.StartDate" [showTime]="true" [showSeconds]="false" [timeOnly]="true" hourFormat="12" ></p-calendar>
                <small class="ng-dirty ng-invalid" *ngIf="submitted && !timecheck.StartDate">Start time is required.</small>
            </div>
            <div class="field flex-1 px-1">
                <label for="EndTime">End Time</label>
                <p-calendar [(ngModel)]="timecheck.EndDate" [showTime]="true" [showSeconds]="false" [timeOnly]="true" hourFormat="12" ></p-calendar>
                <small class="ng-dirty ng-invalid" *ngIf="submitted && !timecheck.EndDate">End time is required.</small>
            </div>
            <div class="field flex-1 pl-1">
                <label for="NumPlayers"># Players</label>
                <p-dropdown [options]="[1, 2, 3, 4]" [(ngModel)]="timecheck.NumPlayers"></p-dropdown>
                <small class="ng-dirty ng-invalid" *ngIf="submitted && !timecheck.NumPlayers">Players is required.</small>
            </div>
        </div>


        <p-table [value]="daysOfWeek">
            <ng-template pTemplate="caption">
                <div class="flex align-items-center justify-content-between">
                    Products
                    <p-button icon="pi pi-refresh"></p-button>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>Image</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th>Num</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td><p-checkbox [(ngModel)]="product.Active" [binary]="true"></p-checkbox></td>
                    <td>{{product.name}}</td>
                    <td style="text-align: center;width: 200px;">{{convertToTime(timeRange[0])}} - {{convertToTime(timeRange[1])}}<br><p-slider [(ngModel)]="timeRange" [step]="1" [min]="20" [max]="76" [range]="true"></p-slider></td>
                    <td><p-dropdown [options]="[1, 2, 3, 4]" [(ngModel)]="product.NumPlayers"></p-dropdown></td>
                    
                </tr>
            </ng-template>
        </p-table>
         
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="timecheckDialog = false"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="onSave()"></button>
    </ng-template>
</p-dialog>


<p-dialog [(visible)]="loadingDialog" [style]="{width: '450px'}" [modal]="true" class="p-fluid" [closable]="false">
    <ng-template pTemplate="content">
        <div style="text-align: center;">
            <p-progressSpinner></p-progressSpinner>
            <br>
            Saving...
        </div>
    </ng-template>
</p-dialog>



<p-dialog [(visible)]="emailDialog" [style]="{width: '450px'}" header="New User" [modal]="true" class="p-fluid">
    <p-messages></p-messages>
    <ng-template pTemplate="content">
        <div class="field">
            <label for="Email">Email</label>
            <input type="text" pInputText id="email" placeholder="email@email.com" [(ngModel)]="userEmail" required autofocus [ngClass]="{'ng-invalid ng-dirty' : !userEmail}" [pKeyFilter]="'email'" [pValidateOnly]="true"/>
            <small class="ng-dirty ng-invalid" *ngIf="userEmail">Email is required.</small>
        </div>  
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Check" icon="pi pi-check" class="p-button-text" (click)="onSubmit()"></button>
    </ng-template>
</p-dialog>
